<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<header class="main-header"  th:fragment="nav">
    <!-- Logo -->
    <a href="/system/main" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>培养</b>方案</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" th:text="${session.user.getTitle()}"><b>专业培养</b>方案</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../static/dist/img/user2-160x160.jpg" th:src="@{/dist/img/user2-160x160.jpg}" class="user-image" alt="User Image">
                        <span class="hidden-xs" th:text="${session.user.getUsername()}">玄兴梦影</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="../../static/dist/img/user2-160x160.jpg" th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image">

                            <p th:text="${session.user.getCollege()}">
                                Alexander Pierce - Web Developer
                            </p>
                            <small th:text="${session.user.getTitle()}">Member since Nov. 2012</small>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/system/profile" class="btn btn-default btn-flat">个人信息</a>
                            </div>
                            <div class="pull-right">
                                <a href="/logout" class="btn btn-default btn-flat">退出</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>