<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('新建年级')"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <th:block th:replace="include/cnav :: nav"/>
    <th:block th:replace="include/cmenu :: menu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (页眉) -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                学院管理
                <small >新建年级</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/college/grade/create"><i class="fa fa-dashboard"></i> 新建年级</a></li>
                <li><a href="/college/main"><i class="fa fa-dashboard"></i>首页</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>



        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">

                        <div class="box-header">
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">

                                <form th:action="@{/college/grade/save}" class="form-horizontal" method="post">

                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label" >年级</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"  id="name" th:field="*{tbGrade.name}" th:value="${tbGrade.name}" placeholder="年级">
                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <button type="button" class="btn btn-default"  onclick="history.go(-1)">返回</button>
                                        <button type="submit" class="btn btn-info pull-right" >提交</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>


    </div>

    <th:block th:replace="include/copyright :: Copyright"/>

</div>
<!-- ./wrapper -->
<th:block th:include="include/include :: footer"/>


</body>
</html>