<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('年级列表')"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <th:block th:replace="include/cnav :: nav"/>
    <th:block th:replace="include/cmenu :: menu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (页眉) -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                年级管理
                <small>年级列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/college/grade/list"><i class="fa fa-dashboard"></i> 年级列表</a></li>
                <li><a href="/college/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>

        <div class="box box-info box-info-search" style="display: none;">
            <div class="box-header">
                <h3 class="box-title">高级搜索</h3>
            </div>

            <div class="box-body">
                <div class="row form-horizontal">

                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="grade" class="col-sm-4 control-label">年级</label>

                            <div class="col-sm-8">
                                <input id="grade" class="form-control" placeholder="年级" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" onclick="search();">搜索</button>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">

                        <div class="box-header">
                            <div class="btn-group">
                                <a href="/college/grade/create" type="button" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> 新增</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i> 删除</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-sm btn-primary" onclick="$('.box-info-search').css('display') == 'none' ? $('.box-info-search').show('fast') : $('.box-info-search').hide('fast')"><i class="fa fa-search"></i> 搜索</button>
                            </div>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="_table" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th> <input type="checkbox" class="minimal icheck_master"></th>
                                    <th >序号</th>
                                    <th>年级</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>


                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </section>


    </div>

    <th:block th:replace="include/copyright :: Copyright"/>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<th:block th:include="include/include :: footer"/>


<script>
    var _dataTable;

    $(function () {
        var _columns = [
            {
                "data": function (row, type, val, meta) {
                    return '<input id="' + row.id + '" type="checkbox" class="minimal" />';
                }
            },
            {"data": "id"},
            {"data": "name"},
            {"data": "updated"},
            {
                "data": function (row, type, val, meta) {
                        return '<a type="button"  href="delete/'+ row.id +'" class="btn btn-sm btn-danger" ><i class="fa fa-trash-o"></i> 删除</a>';
                }
            }
        ];

        _dataTable = App.initDataTables("/college/grade/page", _columns);
    });
</script>
</body>
</html>