<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>专业培养方案</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bower_components/simple-sidebar/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bower_components/simple-sidebar/simple-sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">专业培养方案</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">17软件工程</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">培养目标</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">毕业要求</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">学制、学位、毕业学分及修业年限</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">核心课程</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">课程对毕业要求支撑矩阵</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">切换</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                    <li class="nav-item">
                        <a class="nav-link " href="#">下载</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <h1 class="mt-4">17软件工程</h1>
            <p>软件工程专业本科人才培养方案</p>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/bower_components/simple-sidebar/jquery/jquery.min.js}"></script>
<script th:src="@{/bower_components/simple-sidebar/js/bootstrap.bundle.min.js}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>
