<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('添加用户')"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <th:block th:replace="include/cnav :: nav"/>
    <th:block th:replace="include/cmenu :: menu"/>

    <
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 >
                用户管理
                <small >[[${inf}]]</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/system/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">用户管理</li>
            </ol>
        </section>

        <section class="content" >
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">

                        <div class="box-header">
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">

                                <form th:action="@{/college/user/{actions}(actions=${actions})}" class="form-horizontal" method="post">

                                    <input type="hidden" name="id" th:value="${tbUser.id}"/>

                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label" >姓名</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"  id="username" th:field="*{tbUser.username}" th:value="${tbUser.username}" placeholder="请输入姓名">
                                        </div>
                                    </div>

                                    <div class="form-group" th:if="${tbUser == null}">
                                        <label  class="col-sm-2 control-label" >专业</label>

                                        <div class="col-sm-10">
                                            <select class="form-control" name="profession">
                                                <option value="-1">选择专业</option>
                                                <option  th:each="profession :${professions}"  th:value="*{profession.name}" th:text="${profession.name}">  </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"  th:if="${tbUser == null}">
                                        <label  class="col-sm-2 control-label" >年级</label>

                                        <div class="col-sm-10">
                                            <select class="form-control" name="grade">
                                                <option value="-1">选择年级</option>
                                                <option  th:each="grade :${grades}"  th:value="*{grade.name}" th:text="${grade.name}">  </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="usernumber" class="col-sm-2 control-label" >职工号</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="usernumber"  th:field="*{tbUser.usernumber}" th:value="${tbUser.usernumber}" placeholder="职工号">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone"  class="col-sm-2 control-label">电话</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="phone"  th:field="*{tbUser.phone}" th:value="${tbUser.phone}" placeholder="电话">
                                        </div>
                                    </div>

                                    <div class="form-group" th:if="${tbUser == null}">
                                        <label for="password" class="col-sm-2 control-label">密码</label>

                                        <div class="col-sm-10">
                                            <input type="password" class="form-control"  id="password"  th:field="*{tbUser.password}" th:value="${tbUser.password}" placeholder="密码">
                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <button type="button" class="btn btn-default"  onclick="history.go(-1)">返回</button>
                                        <button type="submit" class="btn btn-info pull-right" >提交</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <th:block th:replace="include/copyright :: Copyright"/>

</div>
<!-- ./wrapper -->
<th:block th:include="include/include :: footer"/>
</body>
</html>
