<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('专业培养方案浏览')"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <th:block th:replace="include/uheader :: header"/>

    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (页眉) -->
            <section class="content-header">

                <div class="row ">
                    <h1 class="text-center" th:text="${college.name}">
                    </h1>
                    <form class="navbar-form text-center " role="search">
                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="请输入专业">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </div>

            </section>

            <!-- Main content -->
            <section class="content">
                <div class="box box-default">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="_table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th >序号</th>
                                <th>专业</th>
                                <th>年级</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="p : ${professionInfos}">
                                <td th:text="${pStat.index + 1}"></td>
                                <td th:text="${p.profession}"></td>
                                <td th:text="${p.grade}"></td>
                                <td><a th:href="@{/profession/show}" th:target="_blank">查看</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
    </div>

    <th:block th:replace="include/ufooter :: footer"/>

</div>
<th:block th:include="include/include :: footer"/>

</body>
</html>