<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('专业培养方案管理系统 | 首页')"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


   

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                控制面板
                <small>首页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/system/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>

    </div>

    <th:block th:replace="include/copyright :: Copyright"/>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- /.login-box -->
<!-- /.content-wrapper -->
<footer class="modal-footer">
    <div class="pull-right hidden-xs center-block">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a href="#">17软件工程-第二组</a>.</strong> &nbsp; 龙兴 &nbsp; 杨定昌 &nbsp; 王恩琴 &nbsp; 晏敏 &nbsp; 罗小春 &nbsp;&nbsp;&nbsp;
</footer>

<th:block th:include="include/include :: footer"/>

</body>
</html>