<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('专业培养方案管理系统 | 首页')"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <th:block th:replace="include/snav :: nav"/>
    <th:block th:replace="include/smenu :: menu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                控制面板
                <small>首页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/system/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>

    </div>

    <th:block th:replace="include/copyright :: Copyright"/>

</div>
<!-- ./wrapper -->
<th:block th:include="include/include :: footer"/>



</body>
</html>