<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: header('创建内容描述')"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <th:block th:replace="include/pnav :: nav"/>
    <th:block th:replace="include/pmenu :: menu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                内容描述
                <small>创建内容描述</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/profession/main"><i class="fa fa-dashboard"></i> 创建内容描述</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">

                        <div class="box-header">
                            <!-- /.tab-pane -->
                            <div class="tab-pane " id="settings">
                                <form  class="form-horizontal" method="post">

                                <div class="form-group" >
                                    <label  class="col-sm-2 control-label" >父级目录</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="name">
                                            <option value="-1">请选择</option>
                                            <option  th:each="tbContentCategory :${tbContentCategories}"  th:value="*{tbContentCategory.name}" th:text="${tbContentCategory.name}">  </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label  class="col-sm-2 control-label" >内容</label>
                                    <div class="col-sm-10">
                                        <div id="editor">
                                            <h1>你好</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <button type="button" class="btn btn-default"  onclick="history.go(-1)">返回</button>
                                    <button type="submit" class="btn btn-info pull-right" >提交</button>
                                </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>

    <th:block th:replace="include/copyright :: Copyright"/>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<th:block th:include="include/include :: footer"/>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.create()
</script>
</body>
</html>