<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.professions.professions.mapper.TbCreditTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.professions.professions.entity.TbCreditTime">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="course_id" property="courseId" />
        <result column="credit" property="credit" />
        <result column="time" property="time" />
        <result column="classroom" property="classroom" />
        <result column="experiment" property="experiment" />
        <result column="practice" property="practice" />
        <result column="session" property="session" />
        <result column="check" property="check" />
        <result column="comment" property="comment" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
