<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.professions.professions.mapper.TbTeachAllMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.professions.professions.entity.TbTeachAll">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="nature" property="nature" />
        <result column="percent" property="percent" />
        <result column="credit" property="credit" />
        <result column="time" property="time" />
        <result column="theory_time" property="theoryTime" />
        <result column="practice_time" property="practiceTime" />
        <result column="comment" property="comment" />
    </resultMap>

</mapper>
